* {
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    overflow: hidden;
    cursor: default;
}

#mapSelector {
    position: absolute;
    top: 20px;
    right: 20px;
}

#canvasId {
    cursor: default;
}

#blog {
    position: absolute;
    right: 0;
    bottom: 0;
}