.search-section{
    height: 30px;
}

.search-section .input-container{
    height: 100%;
    background-color: #ededed;
    border-radius: 4px;
}

.search-section .input-container > *{
    background: transparent;
}

.search-section .keyword{
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 15px;
    border: none;
    line-height: 22px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    outline: none;
}

.search-section .cancel{
    color: #0079ff;
    font-size: 16px;
    display: none;
}