@import "../../css/variables";
$padding-offset: 15px;

.search-section{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 30px;
    padding: 8px 0;

    &.hide-left-action{
        padding-left: $padding-offset;
    }

    &.hide-right-action{
        padding-right: $padding-offset;
    }

    .input-container{
        width: 100%;
        height: 100%;
        background-color: #ededed;
        border-radius: 4px;

        > *{
            background: transparent;
        }

        .keyword{
            flex: auto;
            box-sizing: border-box;
            display: block;
            width: 100%;
            font-size: 15px;
            border: none;
            line-height: 22px;
            padding-left: 10px;
            padding-top: 4px;
            padding-bottom: 4px;
            color: black !important;
        }
    }

    .left-action,.right-action{
        flex: none;
        padding: 0 $padding-offset;
        color: $blue-color;
        font-size: 16px;
    }
}