html, body, input{
    margin: 0;
    padding: 0;
}

html, body,:global(#root){
    width: 100%;
    height: 100%;
}

// html{
//     overflow: hidden;
// }

// body{
//     position: fixed;
//     height: 100%;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     overflow-y: auto;
//     -webkit-overflow-scrolling: touch; 
// }

input[type=text]::-ms-clear{
    display: none;
}

:global{
    *[data-reactroot]{
        position: relative;
        height: 100%;
    }

    .ellipsis{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .hidden{
        display: none !important;
    }
}